@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply overscroll-none;
  }
  @font-face {
    font-family: "Klee One Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/KleeOne-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "Playfair Light";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Playfair9pt-Light.woff2) format("woff2");
  }

  @font-face {
    font-family: "Playfair Display SC Italic";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/PlayfairDisplaySC-Italic.woff2) format("woff2");
  }

  @font-face {
    font-family: "Zen Kaku Gothic Antique";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/ZenKakuGothicAntique-Light.woff2) format("woff2");
  }

  @font-face {
    font-family: "Zen Kaku Gothic Antique";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/ZenKakuGothicAntique-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Zen Kaku Gothic Antique";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/ZenKakuGothicAntique-Medium.woff2) format("woff2");
  }

  @font-face {
    font-family: "Zen Kaku Gothic Antique";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/ZenKakuGothicAntique-Bold.woff2) format("woff2");
  }
}

@layer components {
  .section-container {
    @apply w-screen h-screen relative snap-start;
  }
  .section-title {
    @apply text-left text-6xl font-section-title text-primary
      pl-10 pt-10;
  }
}

.hero-bg-mobile {
  @apply absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2  z-0 object-cover w-[1000px] h-[1000px] max-w-none 
   lg:hidden;
}

.hero-bg-desktop {
  @apply absolute top-0 z-0 left-1/2 -translate-x-1/2 object-cover h-full hidden lg:block;
}

.bg-gradient {
  /* 将渐变色均匀分成7份 */
  section:nth-of-type(1) {
    background: linear-gradient(
      to bottom,
      rgb(237, 231, 233) 0%,
      rgb(146, 182, 219) 100%
    );
  }

  section:nth-of-type(2) {
    background: linear-gradient(
      to bottom,
      rgb(146, 182, 219) 0%,
      rgb(109, 170, 214) 100%
    );
  }

  section:nth-of-type(3) {
    background: linear-gradient(
      to bottom,
      rgb(109, 170, 214) 0%,
      rgb(106, 135, 167) 100%
    );
  }

  section:nth-of-type(4) {
    background: linear-gradient(
      to bottom,
      rgb(106, 135, 167) 0%,
      rgb(103, 100, 120) 100%
    );
  }

  section:nth-of-type(5) {
    background: linear-gradient(
      to bottom,
      rgb(103, 100, 120) 0%,
      rgb(69, 60, 60) 100%
    );
  }

  section:nth-of-type(6) {
    background: linear-gradient(
      to bottom,
      rgb(69, 60, 60) 0%,
      rgb(45, 40, 40) 100%
    );
  }

  section:nth-of-type(7) {
    background: linear-gradient(
      to bottom,
      rgb(45, 40, 40) 0%,
      rgb(20, 20, 20) 100%
    );
  }
}
@media (min-width: 768px) {
  .bg-gradient {
    /* 将渐变色均匀分成7份 */
    section:nth-of-type(1) {
      background: linear-gradient(
        to right,
        rgb(237, 231, 233) 0%,
        rgb(146, 182, 219) 100%
      );
    }

    section:nth-of-type(2) {
      background: linear-gradient(
        to right,
        rgb(146, 182, 219) 0%,
        rgb(109, 170, 214) 100%
      );
    }

    section:nth-of-type(3) {
      background: linear-gradient(
        to right,
        rgb(109, 170, 214) 0%,
        rgb(106, 135, 167) 100%
      );
    }

    section:nth-of-type(4) {
      background: linear-gradient(
        to right,
        rgb(106, 135, 167) 0%,
        rgb(103, 100, 120) 100%
      );
    }

    section:nth-of-type(5) {
      background: linear-gradient(
        to right,
        rgb(103, 100, 120) 0%,
        rgb(69, 60, 60) 100%
      );
    }

    section:nth-of-type(6) {
      background: linear-gradient(
        to right,
        rgb(69, 60, 60) 0%,
        rgb(45, 40, 40) 100%
      );
    }

    section:nth-of-type(7) {
      background: linear-gradient(
        to right,
        rgb(45, 40, 40) 0%,
        rgb(20, 20, 20) 100%
      );
    }
  }
}
